In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.Series(np.random.randn(9),index=[['a','a','a','b','b','c','c','d','d'],[1,2,3,1,3,1,2,2,3]])
data

a  1   -0.099999
   2    0.559530
   3    1.344799
b  1   -1.154128
   3   -0.201803
c  1   -0.508396
   2   -1.725397
d  2    1.029760
   3   -1.503764
dtype: float64

In [4]:
data['b']

1   -1.154128
3   -0.201803
dtype: float64

In [5]:
data['b'][3]

-0.20180336377440455

In [8]:
data['b':'c']

b  1   -1.154128
   3   -0.201803
c  1   -0.508396
   2   -1.725397
dtype: float64

In [9]:
data.loc[['b','d']]

b  1   -1.154128
   3   -0.201803
d  2    1.029760
   3   -1.503764
dtype: float64

In [12]:
data.loc[:,2]

a    0.559530
c   -1.725397
d    1.029760
dtype: float64

In [13]:
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

In [14]:
data.unstack()

          1         2         3
a -0.099999  0.559530  1.344799
b -1.154128       NaN -0.201803
c -0.508396 -1.725397       NaN
d       NaN  1.029760 -1.503764

In [15]:
data.unstack().stack()

a  1   -0.099999
   2    0.559530
   3    1.344799
b  1   -1.154128
   3   -0.201803
c  1   -0.508396
   2   -1.725397
d  2    1.029760
   3   -1.503764
dtype: float64

In [16]:
frame = pd.DataFrame(np.arange(12).reshape(4,3),index=[['a','a','b','b'],[1,2,1,2]],columns=[['Ohio','Ohio','California'],['Green','Red','Green']])
frame

     Ohio     California
    Green Red      Green
a 1     0   1          2
  2     3   4          5
b 1     6   7          8
  2     9  10         11

In [17]:
frame.column.name = 'state'

AttributeError: 'DataFrame' object has no attribute 'column'